@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bx-shdw {
  box-shadow: 5px 5px 10px 5px rgb(67, 67, 67);
}

.brdr-50 {
  border-radius: 50%;
}

.m-top {
  margin-top: 100px;
}

.mrtb-10-3 {
  margin: 10px 0 3px;
}

.mrtb-20-3 {
  margin: 20px 0 3px;
}